<!--
██████╗░██╗░░░░░░█████╗░░█████╗░██╗░░██╗██████╗░░█████╗░██╗░░░██╗███████╗
██╔══██╗██║░░░░░██╔══██╗██╔══██╗██║░██╔╝██╔══██╗██╔══██╗╚██╗░██╔╝╚════██║
██████╦╝██║░░░░░███████║██║░░╚═╝█████═╝░██║░░██║███████║░╚████╔╝░░░███╔═╝
██╔══██╗██║░░░░░██╔══██║██║░░██╗██╔═██╗░██║░░██║██╔══██║░░╚██╔╝░░██╔══╝░░
██████╦╝███████╗██║░░██║╚█████╔╝██║░╚██╗██████╔╝██║░░██║░░░██║░░░███████╗
╚═════╝░╚══════╝╚═╝░░╚═╝░╚════╝░╚═╝░░╚═╝╚═════╝░╚═╝░░╚═╝░░░╚═╝░░░╚══════╝
-->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="copyright" content="BlackDayz &copy; 2021">
<meta http-equiv="content-language" content="de">
<meta name="author" content="BlackDayz &copy;" />
<meta name="robots" content="index, follow" />
<meta http-equiv="cache-control" content="31536000">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="BlackDayz - Junior Web Developer. Immer auf der Suche nach dem besten Ergebnis.">
<meta name="keywords" content="ichsuchearbeit, web, webentwickler, Web Entwickler, html, css, javascript, php, blackdayz, blackdayz_de, blackdayz.de, nodejs, vue3, yii2">
<meta name="reply-to" content="info@blackdayz.de">

<!--Open Graph-->
<meta property="og:site_name" content="BlackDayz" />
<meta property="og:image" content="img/logo/BlackDayzLogo.png">
<meta property="og:title" content="BlackDayz &hybull; Junior Web Developer">
<meta property="og:description" content="BlackDayz - Junior Web Developer. Immer auf der Suche nach dem besten Ergebnis.">
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.blackdayz.de/" />
<meta property="og:locale" content="de_DE" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="BlackDayz &hybull; Junior Web Developer" />
<meta name="twitter:description" content="BlackDayz - Junior Web Developer. Immer auf der Suche nach dem besten Ergebnis.">
<meta name="twitter:image" content="img/logo/BlackDayzLogo.png" />

<link rel="shortcut icon" href="img/logo/shortcuticon.png">
<link rel="apple-touch-icon" href="img/logo/shortcuticon.png" />

<link rel="stylesheet" href="https://blackdayz.github.io/BlackCSS/lib/BlackCSS.css" />