@media only screen and (max-width: 1130px) {
    .about_me_left {
        padding: 0 80px 0 40px !important;
    }
}

@media only screen and (max-width: 1123px) {
    .about_me_left {
        padding: 0 100px 0 50px !important;
    }
}

@media only screen and (max-width: 1008px) {
    .about_me {
        height: 120vh !important;
    }
}

@media only screen and (max-width: 909px) {
    .about_me_left {
        padding: 0 50px 0 10px !important;
    }
}

@media only screen and (max-width: 731px) {
    .about_me_left {
        padding: 0 30px 0 0 !important;
    }
}

@media only screen and (max-width: 768px) {
    #my-slider {
        width: 90% !important;
    }

    .p_info {
        width: 100% !important;
    }

    .p_img {
        margin-top: -40%;
        width: 100% !important;
    }
}

@media only screen and (max-width: 678px) {
    .about_me {
        height: 150vh !important;
    }

    .about_me_left {
        width: 100% !important;
        padding: 0 0 0 0 !important;
    }

    .about_me_right {
        padding: 40px 0;
        width: 100% !important;
    }

    .card {
        margin: 0 !important;
    }

    #dev_funny_gif {
        width: 100% !important;
    }
}


@media only screen and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (max-width: 610px) {
    .grid-container {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 425px) {
    .grid-item p {
        font-size: 2rem;
    }

    #my-slider {
        width: 100% !important;
    }

    footer {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
    }
}