@import url('./media.css');

:root {
  --white: rgb(226, 226, 226);
  --black: #1e1e1e;
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-display: optional;
  scrollbar-width: none;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
  background: rgb(202, 202, 202);
}

.top_page {
  height: 70vh;
  background: var(--white);
}

.head_text {
  left: 50%;
  top: 20vh;

  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.head_text h1 {
  font-size: 2.4rem;
  letter-spacing: 3.4px;
}

.head_arrows {
  top: 55vh;
  left: 50%;

  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.head_arrows img {
  animation: head_arrow 1s infinite alternate;
  -webkit-animation: head_arrow 1s infinite alternate;
}

@keyframes head_arrow {
  0% {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
}

  100% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
}

.about_me {
  padding: 90px 80px;
  height: 100vh;
  background: var(--black);
}

.about_me_left {
  width: 50%;
  padding: 5% 100px 0 100px;
  font-weight: 520
}

.about_me_left p {
  font-size: 1.6rem;
  letter-spacing: 1.2px;
}

.about_me_right {
  width: 50%;
}

.references {
  background: var(--white);
}

.references header {
  padding: 50px;
  letter-spacing: 5px;
}

.references header h2::after {
  content: '';
  width: 100px;
  height: 2px;
  position: absolute;
  left: 50%;
  margin-top: 40px;
  transform: translateX(-50%);
  background: black;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.ref_gif_top {
  padding: 50px 0 50px 0;
}

#dev_funny_gif {
  width: 600px;
}

.references main {
  padding: 90px 0;
}

.p_info {
  padding: 30px;
  width: 50%;
  float: left;
}

.p_info h1 {
  font-size: 4rem;
}

.p_info h4 {
  font-size: 1.4rem;
}

.p_info h1,
.p_info h4 {
  text-align: left;
}

.p_info p {
  text-align: left;
  margin: 0 0 70px 0;
}

.p_links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -30px 0 0 0;
}

.p_links h5 {
  margin: 0 10px;
}

.p_links img {
  margin: 0 0 0 20px;
}


.p_img{
  width: 50%;
  float: right;
  text-align: right;
  padding: 20px;
}

.p_img img:first-of-type,
.p_img video,
.p_img iframe {
  margin: 200px 0 0 0;
  width: 100%;
  border: 6px solid black;
}

.p_img iframe {
  height: 60vh;
}

footer {
  padding: 10px 0;
}

footer span img {
  margin: 0 10px;
}

.privacy,
.impressum {
  margin: 50px auto;
  width: 50%;
}