<html>

    <head>
        <title>Datenschutz &bull; BlackDayz</title>
        <%- include('../_head/head.ejs') %>
        <link href="../css/style.css" rel="stylesheet" />
    </head>

    <body>
        <div class="privacy">
            <img src="https://img.icons8.com/color/48/000000/germany.png"/>
            <h1 class="center">Datenschutzerklärung</h1>
            <p>Verantwortlicher im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutzgrundverordnung
                (DSGVO), ist:</p>
            <p>Benedikt Sauer</p>
            <h3>Ihre Betroffenenrechte</h3>
            <p>Unter den angegebenen Kontaktdaten unseres Datenschutzbeauftragten können Sie jederzeit folgende
                Rechte ausüben:</p>
            <ul>
                <li>Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung (Art. 15 DSGVO),</li>
                <li>Berichtigung unrichtiger personenbezogener Daten (Art. 16 DSGVO),</li>
                <li>Löschung Ihrer bei uns gespeicherten Daten (Art. 17 DSGVO),</li>
                <li>Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund gesetzlicher Pflichten
                    noch
                    nicht löschen dürfen (Art. 18 DSGVO),</li>
                <li>Widerspruch gegen die Verarbeitung Ihrer Daten bei uns (Art. 21 DSGVO) und</li>
                <li>Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt haben oder einen
                    Vertrag
                    mit uns abgeschlossen haben (Art. 20 DSGVO).</li>
            </ul>
            <p>Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese jederzeit mit Wirkung für die
                Zukunft widerrufen.</p>
            <p>Sie können sich jederzeit mit einer Beschwerde an eine Aufsichtsbehörde wenden, z. B. an die
                zuständige Aufsichtsbehörde des Bundeslands Ihres Wohnsitzes oder an die für uns als
                verantwortliche
                Stelle zuständige Behörde.</p>
            <p>Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit Anschrift finden Sie
                unter:
                <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"
                    target="_blank" rel="nofollow noopener"
                    class="black">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.
            </p>
            <p></p>
            <h3>Erfassung allgemeiner Informationen beim Besuch unserer Website</h3>
            <h3>Art und Zweck der Verarbeitung:</h3>
            <p>Wenn Sie auf unsere Website zugreifen, d.h., wenn Sie sich nicht registrieren oder anderweitig
                Informationen übermitteln, werden automatisch Informationen allgemeiner Natur erfasst. Diese
                Informationen (Server-Logfiles) beinhalten etwa die Art des Webbrowsers, das verwendete
                Betriebssystem, den Domainnamen Ihres Internet-Service-Providers, Ihre IP-Adresse und ähnliches.
            </p>
            <p>Sie werden insbesondere zu folgenden Zwecken verarbeitet:</p>
            <ul>
                <li>Sicherstellung eines problemlosen Verbindungsaufbaus der Website,</li>
                <li>Sicherstellung einer reibungslosen Nutzung unserer Website,</li>
                <li>Auswertung der Systemsicherheit und -stabilität sowie</li>
                <li>zu weiteren administrativen Zwecken.</li>
            </ul>
            <p>Wir verwenden Ihre Daten nicht, um Rückschlüsse auf Ihre Person zu ziehen. Informationen dieser
                Art
                werden von uns ggfs. statistisch ausgewertet, um unseren Internetauftritt und die
                dahinterstehende
                Technik zu optimieren.</p>
            <h3>Rechtsgrundlage:</h3>
            <p>Die Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO auf Basis unseres berechtigten
                Interesses
                an der Verbesserung der Stabilität und Funktionalität unserer Website.</p>
            <h3>Empfänger:</h3>
            <p>Empfänger der Daten sind ggf. technische Dienstleister, die für den Betrieb und die Wartung
                unserer
                Webseite als Auftragsverarbeiter tätig werden.</p>
            <h3>Speicherdauer:</h3>
            <p>Die Daten werden gelöscht, sobald diese für den Zweck der Erhebung nicht mehr erforderlich sind.
                Dies
                ist für die Daten, die der Bereitstellung der Webseite dienen, grundsätzlich der Fall, wenn die
                jeweilige Sitzung beendet ist.</p>
            <h3>Bereitstellung vorgeschrieben oder erforderlich:</h3>
            <p>Die Bereitstellung der vorgenannten personenbezogenen Daten ist weder gesetzlich noch vertraglich
                vorgeschrieben. Ohne die IP-Adresse ist jedoch der Dienst und die Funktionsfähigkeit unserer
                Website
                nicht gewährleistet. Zudem können einzelne Dienste und Services nicht verfügbar oder
                eingeschränkt
                sein. Aus diesem Grund ist ein Widerspruch ausgeschlossen. </p>
            <p></p>
            <h3>Verwendung von Adobe Typekit</h3>
            <h3>Art und Zweck der Verarbeitung:</h3>
            <p>Wir setzen Adobe Typekit zur visuellen Gestaltung unserer Website ein. Typekit ist ein Dienst der
                Adobe Systems Software Ireland Companies (4-6 Riverwalk, Citywest Business Campus, Dublin 24,
                Republic of Ireland; nachfolgend „Adobe“), der uns den Zugriff auf eine Schriftartenbibliothek
                gewährt. Zur Einbindung der von uns benutzten Schriftarten, muss Ihr Browser eine Verbindung zu
                einem Server von Adobe in den USA aufbauen und die für unsere Website benötigte Schriftart
                herunterladen. Adobe erhält hierdurch die Information, dass von Ihrer IP-Adresse unsere Website
                aufgerufen wurde. Weitere Informationen zu Adobe Typekit finden Sie in den Datenschutzhinweisen
                von
                Adobe, die Sie hier abrufen können: <a href="https://www.adobe.com/de/privacy/policy.html"
                    target="_blank">https://www.adobe.com/de/privacy/policy.html</a></p>
            <h3>Rechtsgrundlage:</h3>
            <p>Rechtsgrundlage für die Einbindung von Adobe Typekit und dem damit verbundenen Datentransfer zu
                Adobe
                ist Ihre Einwilligung (Art. 6 Abs. 1 lit. a DSGVO).</p>
            <h3>Empfänger:</h3>
            <p>Der Aufruf von Scriptbibliotheken oder Schriftbibliotheken löst automatisch eine Verbindung zum
                Betreiber der Bibliothek aus. Informationen über die Nutzung Ihrer Daten durch Adobe Typekit Web
                Fonts Sie unter <a href="https://typekit.com/" target="_blank" class="black">https://typekit.com/</a>
                und in der Datenschutzerklärung von Adobe Typekit: <a
                    href="https://www.adobe.com/de/privacy/policies/typekit.html" target="_blank"
                    class="black">https://www.adobe.com/de/privacy/policies/typekit.html</a>.</p>
            <h3>Speicherdauer:</h3>
            <p>Wir erheben keine personenbezogenen Daten durch die Einbindung von Adobe Typekit Web Fonts.</p>
            <h3>Drittlandtransfer:</h3>
            <p>Adobe ist unter dem Privacy-Shield-Abkommen zertifiziert und bietet hierdurch eine Garantie, das
                europäische Datenschutzrecht einzuhalten (<a
                    href="https://www.privacyshield.gov/participant?id=a2zt0000000TNo9AAG&status=Active" target="_blank"
                    class="black">https://www.privacyshield.gov/participant?id=a2zt0000000TNo9AAG&status=Active</a>).
            </p>
            <h3>Bereitstellung vorgeschrieben oder erforderlich:</h3>
            <p>Die Bereitstellung der personenbezogenen Daten ist weder gesetzlich, noch vertraglich
                vorgeschrieben.
                Allerdings kann ohne die korrekte Darstellung der Inhalte von Standardschriften nicht ermöglicht
                werden.</p>
            <p></p>
            <h3>Eingebettete YouTube-Videos</h3>
            <h3>Art und Zweck der Verarbeitung:</h3>
            <p>Auf einigen unserer Webseiten betten wir YouTube-Videos ein. Betreiber der entsprechenden Plugins
                ist
                die YouTube, LLC, 901 Cherry Ave., San Bruno, CA 94066, USA (nachfolgend „YouTube“). Wenn Sie
                eine
                Seite mit dem YouTube-Plugin besuchen, wird eine Verbindung zu Servern von YouTube hergestellt.
                Dabei wird YouTube mitgeteilt, welche Seiten Sie besuchen. Wenn Sie in Ihrem YouTube-Account
                eingeloggt sind, kann YouTube Ihr Surfverhalten Ihnen persönlich zuzuordnen. Dies verhindern
                Sie,
                indem Sie sich vorher aus Ihrem YouTube-Account ausloggen.</p>
            <p>Wird ein YouTube-Video gestartet, setzt der Anbieter Cookies ein, die Hinweise über das
                Nutzerverhalten sammeln.</p>
            <p>Weitere Informationen zu Zweck und Umfang der Datenerhebung und ihrer Verarbeitung durch YouTube
                erhalten Sie in den Datenschutzerklärungen des Anbieters, Dort erhalten Sie auch weitere
                Informationen zu Ihren diesbezüglichen Rechten und Einstellungsmöglichkeiten zum Schutze Ihrer
                Privatsphäre (<a href="https://policies.google.com/privacy" target="_blank"
                    class="black">https://policies.google.com/privacy</a>). Google verarbeitet Ihre Daten in den
                USA
                und hat sich dem EU-US Privacy Shield unterworfen https://www.privacyshield.gov/EU-US-Framework
            </p>
            <h3>Rechtsgrundlage:</h3>
            <p>Rechtsgrundlage für die Einbindung von YouTube und dem damit verbundenen Datentransfer zu Google
                ist
                Ihre Einwilligung (Art. 6 Abs. 1 lit. a DSGVO).</p>
            <h3>Empfänger:</h3>
            <p>Der Aufruf von YouTube löst automatisch eine Verbindung zu Google aus.</p>
            <h3>Speicherdauer und Widerruf der Einwilligung:</h3>
            <p>Wer das Speichern von Cookies für das Google-Ad-Programm deaktiviert hat, wird auch beim
                Anschauen
                von YouTube-Videos mit keinen solchen Cookies rechnen müssen. YouTube legt aber auch in anderen
                Cookies nicht-personenbezogene Nutzungsinformationen ab. Möchten Sie dies verhindern, so müssen
                Sie
                das Speichern von Cookies im Browser blockieren.</p>
            <p>Weitere Informationen zum Datenschutz bei „YouTube“ finden Sie in der Datenschutzerklärung des
                Anbieters unter: <a href="https://www.google.de/intl/de/policies/privacy/" target="_blank"
                    class="black">https://www.google.de/intl/de/policies/privacy/ </a></p>
            <h3>Drittlandtransfer:</h3>
            <p>Google verarbeitet Ihre Daten in den USA und hat sich dem EU_US Privacy Shield unterworfen <a
                    href="https://www.privacyshield.gov/EU-US-Framework" target="_blank"
                    class="black">https://www.privacyshield.gov/EU-US-Framework</a>.</p>
            <h3>Bereitstellung vorgeschrieben oder erforderlich:</h3>
            <p>Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig, allein auf Basis Ihrer
                Einwilligung. Sofern Sie den Zugriff unterbinden, kann es hierdurch zu Funktionseinschränkungen
                auf
                der Website kommen.</p>
            <p></p>
            <h3>SSL-Verschlüsselung</h3>
            <p>Um die Sicherheit Ihrer Daten bei der Übertragung zu schützen, verwenden wir dem aktuellen Stand
                der
                Technik entsprechende Verschlüsselungsverfahren (z. B. SSL) über HTTPS.</p>
            <p></p>
            <h3>Änderung unserer Datenschutzbestimmungen</h3>
            <p>Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie stets den aktuellen
                rechtlichen Anforderungen entspricht oder um Änderungen unserer Leistungen in der
                Datenschutzerklärung umzusetzen, z.B. bei der Einführung neuer Services. Für Ihren erneuten
                Besuch
                gilt dann die neue Datenschutzerklärung.</p>
            <h3>Fragen an den Datenschutzbeauftragten</h3>
            <p>Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail oder wenden Sie sich
                direkt an die für den Datenschutz verantwortliche Person in unserer Organisation:</p>
            <p></p>
            <p><em>Die Datenschutzerklärung wurde mithilfe der activeMind AG erstellt, den Experten für <a
                        href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/" target="_blank"
                        rel="noopener" class="black">externe Datenschutzbeauftragte</a> (Version
                    #2019-04-10).</em>
            </p>
        </div>
    </body>

</html>
