<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./_head/head.ejs') %>
        <title>BlackDayz - Junior Web Developer.</title>
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/slider/my-slider.css" />
        <link rel="stylesheet" href="css/dc_profile/dc_profile.css" />
    </head>

    <body>
        <header class="top_page width-100">
            <div class="head_text center absolute">
                <h1 class="black text-transform-up">BlackDayz</h1>
                <p><span class="red">Junior</span> Web Developer, <span class="red">Junior</span> Discord Bot Developer,
                    Discord Moderator</p>
            </div>
            <div class="head_arrows center absolute">
                <p>Grab some fresh news about me!</p>
                <a href="#me"><img src="img/icons/double-down-arrow-24px.png" /></a>
            </div>
        </header>
        <main>

            <div class="about_me" id="me">

                <div class="about_me_left white left">
                    <p><img src="img/icons/hello-48.png" width="42" /> Hey, my name is obviously Mittelblut9 I'm 19
                        years
                        old and a <span class="red">Junior</span> Web Developer living in Germany</p>
                    <br />
                    <p><img src="img/icons/degree-42.png" width="42" />At the moment I am completing my training as a
                        <strong>technical design assistant</strong> </p>
                    <br />
                    <p><img src="img/icons/cloud-48.png" width="42" /> Most of the days i'm working on projects like
                        websites or my own Discord Bot.. or uhm.. just playing games :)</p>
                </div>


                <div class="about_me_right right">
                    <%- include('./_dc_profile/dc_profile.ejs') %>
                </div>
            </div>

            <div class="references user-select-none">
                <header class="center">
                    <h2>My work</h2>

                    <div class="ref_gif_top display-flex justify-content-center">
                        <img src="gif/developer_funny.gif" id="dev_funny_gif" />
                    </div>
                </header>
                <main class="display-flex justify-content-center">

                    <div class="ism-slider" data-interval="10000" id="my-slider">
                        <ol>
                            
                            <li>
                                <a href="/projects/prodbydaz"><img src="img/projects/prodbydaz.png"></a>
                                <div class="ism-caption ism-caption-0 bold">Prodbydaz (Shop)</div>
                            </li>
                            <li>
                                <a href="/projects/nobadvibes"><img src="img/projects/nobadvibes.png"></a>
                                <div class="ism-caption ism-caption-0 bold">nobadVIBES (Fake-Shop, Showcase)</div>
                            </li>
                            <li>
                                <a href="/projects/changerjs"><img src="img/projects/changerjs.png"></a>
                                <div class="ism-caption ism-caption-0 bold">Changer.js (Mini-Library)</div>
                            </li>
                            <li>
                                <a href="/projects/prodbydaz"><img src="img/projects/phenixgames.png"></a>
                                <div class="ism-caption ism-caption-0 bold">PhenixGames Homepage</div>
                            </li>
                            <li>
                                <a href="/projects/phenixgamesteam"><img src="img/projects/pg_teambereich_dark.png"></a>
                                <div class="ism-caption ism-caption-0 bold">PhenixGames Teambereich</div>
                            </li>
                            <li>
                                <a href="/projects/subscriptor"><img src="img/projects/subscriptor_startseite.png"></a>
                                <div class="ism-caption ism-caption-0 bold">Subscriptor - Abonnement Verwaltung</div>
                            </li>
                            <li>
                                <a href="/projects/easylogindesign"><img src="img/projects/easylogin.png"></a>
                                <div class="ism-caption ism-caption-0 bold">Easy Login Design</div>
                            </li>
                            <li>
                                <a href="/projects/redesign"><img src="img/projects/redesign.png"></a>
                                <div class="ism-caption ism-caption-0 bold">Redesign (Schulprojekt)</div>
                            </li>
                            <li>
                                <a href="/projects/mittelbot"><img src="img/projects/mittelbot.png" width="100%"></a>
                                <div class="ism-caption ism-caption-0 bold">Mittelbot - Discord Bot</div>
                            </li>
                            <li>
                                <a href="/projects/la_campana_unofficial_design"><img src="img/projects/la_campana_design.png" width="100%"></a>
                                <div class="ism-caption ism-caption-0 bold">La Campana Website Design (unofficial)</div>
                            </li>
                        </ol>
                      </div>
                </main>
            </div>
        </main>
        <%- include('./_footer/footer.ejs') %>
        <script src="js/main.js"></script>
        <script src="js/ism-2.2.min.js"></script>
    </body>

</html>
