<!DOCTYPE html>
<html lang="de">
    <head>
        <%- include('../_head/head.ejs') %>
        <title>Cookie Clicker</title>
        <link href="../css/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.typekit.net/xue1nky.css">
    </head>
    <body>
        <div class="p_detail">
            <div class="p_info">
                <a href="../" id="back">back</a>
                <h1>Cookie Clicker</h1>
                <h4>Die Grundidee ...</h4>
                <p>
                    ... hinter diesem Spiel, war meine JavaScript Kenntnisse aufzufrischen. Die erste Version, war auch meine erste große Erfahrung mit JavaScript. Die zweite Version habe ich angefangen, weil der Code in der ersten sehr unübersichtlich wurde.
                </p>
                <div class="p_links">
                    <img src="https://img.icons8.com/color/48/000000/code.png"/><h5><a href="https://mecksauer.de/projects/Cookie-ClickerV1/">Webseite Version 1</a></h5>
                    <img src="https://img.icons8.com/material-rounded/48/000000/external-link.png"/><h5><a href="https://github.com/Mittelblut9/MyOpenSourceProjects-Outdated/tree/main/Cookie_Clicker_V2">GitHub Version 1</a></h5>
                </div>
                <br />
                <div class="p_links">
                    <img src="https://img.icons8.com/color/48/000000/code.png"/><h5><a href="https://mecksauer.de/projects/Cookie-Clicker/">Webseite Version 2 </a></h5>
                    <img src="https://img.icons8.com/material-rounded/48/000000/external-link.png"/><h5><a href="https://github.com/Mittelblut9/Cookie-Clicker">GitHub Version 2</a></h5>
                </div>
                <h4>Entwickelt mit:</h4>
                <p><img src="https://img.icons8.com/color/48/000000/javascript--v1.png" title="javascript"/> <img src="https://img.icons8.com/ios-filled/50/000000/jquery.png" title="jquery"/></p>

            </div>
            <div class="p_img">
                <img src="../img/projects/cookiecklicker.png" />
            </div>
        </div>
    </body>
</html>