<!DOCTYPE html>
<html lang="de">
    <head>
        <%- include('../_head/head.ejs') %>
        <title>DAZ (Shop)</title>
        <link href="../css/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.typekit.net/xue1nky.css">
    </head>
    <body>
        <div class="p_detail">
            <div class="p_info">
                <a href="../" id="back">back</a>
                <h1>DAZ (Shop)</h1>
                <h4>Die Grundidee ...</h4>
                <p>
                    ... hinter diesem Shop war, dass in diesem <i>selbst geschriebenen</i> Shop mehrere Produzenten ihre Produkte anbieten anbieten können. <br />
                    Als Zahlungsmethode erstmal nur PayPal. Hat sich einfach angehört, damals. Aber nach ca. <strong>68 Stunden</strong> Entwicklungszeit wurde mir das Ganze zu viel neben der Schule, usw. Seitdem ruht das Projekt in dem jetzigen Zustand.
                    Viele Design- und Codebugs, das mit der Daten- und Codesicherheit ist auch nicht so das non-plus-ultra. und wenig invdividuelle Codestruktur, die das Umziehen auf einen neue Umgebung schwer machen.<br />
                    Aber es war auch das erste mal, dass ich einen Shop entwickelt habe und musste mir so alles selber beibringen; So wie alles was ich gemacht habe auch. <br />
                    Mein Plan um dieses Projekt aufzufrischen ist das Projekt komplett im Backend mit dem PHP Framework CodeIgniter laufen zu lassen.
                </p>
                <h4>Die Dokumentation</h4>
                <p style="text-align: left;">
                    <strong><i>Manche Buttons könnte evt. erst nach erneutem f5 funktionieren.</i></strong><br /><br />
                    <strong>Logindaten:</strong> info@blackdayz.de - admin <br />
                    <strong>Zur "Admin Area" gehts über die rote Navigation im Profil (nach dem Login).</strong><br /><br />
                    <strong>Hinzufügen von Beats:</strong> <br />
                    Im Internenbereich unter "Beats" rechts unten auf das Plus. Dateneingeben.<br />
                    <strong>Bearbeiten von Produkten:</strong> <br />
                    <i>Nicht verfügbar</i><br />
                </p>
                <div class="p_links">
                    <img src="https://img.icons8.com/material-rounded/48/000000/external-link.png"/><h5><a href="https://mecksauer.de/projects/prodbydaz/">Webseite</a></h5>
                    <img src="https://img.icons8.com/color/48/000000/code.png"/><h5><a href="https://github.com/BlackDayz/prodbydaz">GitHub</a></h5>
                </div>
                <h4>Entwickelt mit:</h4>
                <p><img src="https://img.icons8.com/offices/45/000000/php-logo.png" title="php"/></p>

            </div>
            <div class="p_img">
                <img src="../img/projects/prodbydaz.png" />
            </div>
        </div>
    </body>
</html>