<footer class="display-grid justify-content-center">
    <p><a href="/impressum" class="link black">Impressum</a> | <a href="/privacy" class="link black">privacy</a> | <strong>BlackDayz &copy; 2022</strong></p>
    <span class="display-flex justify-content-center">
        <a title="BlackDayz Instagram" href="https://www.instagram.com/blackdayz_de/"><img src="svg/social_media/icons8-instagram.svg"/></a>
        <a title="Mittelblut9 Youtube" href="https://www.youtube.com/channel/UCVXebEQVI5N6-CV7Pnj7J8w"><img src="svg/social_media/icons8-youtube.svg"/></a>
        <a title="Mitteblut9 Discord name" id="copy_dcname" class="cursor-pointer"><img src="svg/social_media/icons8-discord.svg"/></a>
        <a title="BlackDayz Xing" href="https://www.xing.com/profile/Benedikt_Sauer12/"><img src="svg/social_media/icons8-xing.svg"/></a>
        <a title="BlackDayz GitHub" href="https://github.com/Mittelblut9"><img src="svg/social_media/icons8-github.svg"/></a>
        <a title="Page Source Code" href="https://github.com/BlackDayz/BlackDayz-Homepage"><img src="svg/social_media/source_code.svg" width="24"/></a>
    </span>
</footer>